button{
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

button.blue-btn{
  background-color: var(--bg-blue);
  color: var(--text-white);
}
button.blue-btn:hover{
  background-color: var(--bg-hover-blue);
}

button.white-btn{
  background-color: var(--bg-white);
  color: var(--text-blue);
}
button.white-btn:hover{
  background-color: var(--bg-hover-white);
}

button.transparent-btn{
  background-color: var(--bg-white);
  color: var(--text-black);
}
button.transparent-btn:hover{
  background-color: var(--bg-hover-white);
}

