.first-line-ctr, .text-ctr{
  color: var(--text-gray-4);
  margin: 10px 0;
}
.read-more-less{
  cursor: pointer;
  text-decoration: underline;
  color: var(--text-gray);
  user-select: 'none';
  margin-left: 5px;
}

