#Topbar{
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
#topbar-right-ctr{
  flex: 1;
  display: flex;
  gap: 15px;
  overflow-x: hidden;
  white-space: nowrap;
}
#topbar-left-ctr{
  width: 230px;
  display: flex;
  justify-content: end;
  align-items: center;
  @media (width < 800px){display: none;}
}
#display-settings{
  display: flex;
}
#small-divider{
  height: 22px;
  width: 1.5px;
  margin: 0 15px;
  background-color: var(--bg-gray);
}
#logIn-signUp-ctr{
  display: flex;
  gap: 15px;
}
